<div class="flex w-screen overflow-x items-center justify-center">
    <div class="flex flex-col w-11/12">
        <span class="flex items-center justify-center w-full sm:text-2xl md:text-3xl lg:text-3xl underline">Suggestions</span>
        <div class="flex flex-col items-center">
            <div class="flex w-3/4 max-md:text-xs my-3 py-4 items-center justify-around shadow-md rounded-lg" *ngFor="let pangolin of pangolins">
                <div class="flex max-md:hidden w-1/5 md:w-[45px] md:h-[45px] sm:w-[35px] sm:h-[35px] lg:w-[45px] lg:h-[45px]">
                    <img class="w-full h-full object-cover" src="assets/images/logo.png" alt="">
                </div>
                <div class="flex w-1/5">
                    {{ pangolin.name }}
                </div>
                <div class="flex max-md:hidden w-1/5">
                    {{ pangolin.username }}
                </div>
                <div class="flex w-1/5">
                    {{ pangolin.role }}
                </div>
                <div class="flex w-1/5 px-12 py-2 rounded-lg bg-green-200 items-center justify-center cursor-pointer" (click)="addFriend(pangolin._id)">
                    <i class="fas fa-user-plus text-md"></i> <span class="ml-2">Ajouter</span>
                </div>
            </div>
        </div>
    </div>
</div>