<div class="flex w-screen h-screen overflow-x-hidden items-center justify-start ">
    <div class="flex absolute w-full h-full blur-sm -z-10 backdrop-blur-sm">
        <img src="assets/images/pangolin2.jpg" class="w-full h-full object-cover" alt="">
    </div>
    <div class="flex md:w-1/3 lg:w-1/3 h-4/5 bg-teal-900 ml-6 rounded-lg flex-col pt-12 sm:w-full max-md:w-full max-sm:h-full max-md:h-full max-md:m-0">
        <div class="flex w-full h-1/5 items-center justify-center">
            <i class="fas fa-fingerprint max-md:text-6xl sm:text-6xl md:text-5xl lg:text-6xl text-white"></i>
        </div>
        <div class="flex items-center justify-center w-full text-3xl text-white">
            Login
        </div>
        <form [formGroup]="loginForm" class="flex flex-col justify-center items-center w-full">
            <div class="flex w-3/4">
                <mat-form-field class="w-full" style="width: 100%;" appearance="standard" class="text-white">
                    <mat-label class="text-[#737373]">Username</mat-label>
                    <input type="text" matInput formControlName="username" placeholder="JohnDoe">
                </mat-form-field>
            </div>
            <div class="flex w-3/4">
                <mat-form-field class="w-full" style="width: 100%;" appearance="standard" class="text-white">
                    <mat-label class="text-[#737373]">Password</mat-label>
                    <input type="password" matInput formControlName="password" placeholder="*******">
                </mat-form-field>
            </div>
            <div class="flex w-2/5 py-2 bg-white items-center justify-center rounded-3xl mt-12 cursor-pointer" (click)="onLogin()">
                Sign in
            </div>
        </form>
        <div class="flex mt-12 items-center justify-center">
            <div class="flex items-center justify-center text-slate-300	text-sm">
                Don't have an account ? <span class="cursor-pointer font-bold pl-2" (click)="register()"> Register</span>
            </div>
        </div>
    </div>
</div>