<div class="flex items-center justify-center flex-col w-screen">
    <div class="flex flex-col w-4/5 bg-slate-900">
        <form [formGroup]="updateForm">
            <div class="flex items-center justify-around py-12 max-md:flex-col max-md:text-sm">
                <div class="flex">
                    <mat-form-field class="w-full" style="width: 100%;" appearance="standard" class="text-white">
                        <mat-label class="text-[#737373]">Name</mat-label>
                        <input type="text" matInput formControlName="name" placeholder="JohnDoe">
                    </mat-form-field>
                </div>
                <div class="flex">
                    <mat-form-field color="primary" class="w-full" style="width: 100%;" appearance="standard" class="text-white">
                        <mat-label class="text-[#737373]">Username</mat-label>
                        <input type="text" class="text-black" matInput formControlName="username" placeholder="JohnDoe">
                    </mat-form-field>
                </div>
                <div class="flex items-center justify-center">
                    <mat-form-field appearance="standard">
                        <mat-label>Choose role</mat-label>
                        <mat-select formControlName="role">
                            <mat-option *ngFor="let role of roles" [value]="role">
                                {{role}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="flex items-center justify-center my-4">
                <div class="flex bg-green-200 px-6 py-4 rounded-lg items-center justify-center cursor-pointer max-sm:text-sm" (click)="updatePangolinInfo()">
                    <i class="fas fa-pen text-md text-black"></i><span class="ml-2">Mèttre à jour</span>
                </div>
            </div>

        </form>
    </div>
</div>