<div class="flex w-screen overflow-x items-center justify-center">
    <div class="flex items-center justify-around md:w-2/3 max-md:w-full lg:w-1/2 bg-[#1C315E] py-4 min-md:rounded-lg text-white">
        <div class="flex cursor-pointer items-center justify-center" (click)="navigate('list')">
            <i class="fas fa-user-plus max-md:text-sm md:text-md text-white"></i> <span [ngClass]="{'current': currentTab === 'list'}" class="ml-2 max-md:text-xs md:text-xs">Ajouter des amis</span>
        </div>
        <div class="flex cursor-pointer items-center justify-center" (click)="navigate('update-pangolin')">
            <i class="fas fa-pen max-md:text-sm text-md text-white"></i> <span [ngClass]="{'current': currentTab === 'update-pangolin'}" class="ml-2 max-md:text-xs md:text-xs">Profil</span>
        </div>
        <div class="flex cursor-pointer items-center justify-center" (click)="navigate('list-friends')">
            <i class="fas fa-user-group max-md:text-sm text-md text-white"></i> <span [ngClass]="{'current': currentTab === 'list-friends'}" class="ml-2 max-md:text-xs md:text-xs">Listes amis</span>
        </div>
    </div>
</div>