<div class="flex w-screen h-screen overflow-x-hidden flex-col">
    <div class="flex relative w-full h-2/5 relative">
        <img src="assets/images/head1.jpg" class="w-full h-full object-cover" alt="">
        <div class="flex items-center absolute justify-center w-full h-full text-slate-300 text-3xl md:text-xl text-center">Welcome in your personal space</div>
        <div class="flex absolute -bottom-6">
            <app-navbar></app-navbar>
        </div>
    </div>
    <div class="flex mt-12 w-full">
        <router-outlet></router-outlet>
    </div>
</div>