/* You can add global styles to this file, and also import other style files */

@import '~tailwindcss/base.css';
@import '~tailwindcss/components.css';
@import '~tailwindcss/utilities.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~primeng/resources/themes/saga-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}